@import "tailwindcss";

:root {
  --background: #F5F1E8;
  --text-primary: #453528ff;
  --secondary-green: #627669;
  --secondary-black: #36322F;
  --secondary-white: #FEFDF8ff;
  --accent-golden: #B17D53;
  --accent-pink: #FFDDDD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--accent-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

