@import "tailwindcss";

:root {
  --background: #FEF9EFff;
  --text-primary: #453528ff;
  --secondary-blue: #9CD8E4ff;
  --secondary-orange: #FEAC96ff;
  --secondary-white: #FEFDF8ff;
  --accent-orange: #FF6C55ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--accent-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

